<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009938267576-herelie2f8j60vkv86ni1007nidl077s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009938267576-herelie2f8j60vkv86ni1007nidl077s</string>
	<key>API_KEY</key>
	<string>AIzaSyBa4QSFi34FodVKfxfRjFtAZtp-jtYMJTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1009938267576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>master.flutter.whatssapappflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-whatssap-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-whatssap-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009938267576:ios:c51329dd881fe27297234d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-whatssap-clone.firebaseio.com</string>
</dict>
</plist>